/* style.css */

/* Fonts */
body {
    font-family: 'Arial', sans-serif; /* Adjust font family as needed */
}

/* Background */
body {
    background-image: url('imgwebsite/Cover.jpg'); /* Adjust the path to match your background image */
    background-size: cover; /* Adjust background size as needed */
    background-position: center; /* Adjust background position as needed */
    background-repeat: no-repeat; /* Adjust background repeat as needed */
}

/* Header */
header {
    background-color: rgba(248, 249, 250, 0.8); /* Adjust background color and opacity as needed */
    padding: 20px;
    text-align: center;
}

/* Navigation */
nav {
    text-align: center;
}

nav ul {
    list-style-type: none; /* Remove list style */
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block; /* Display links horizontally */
    margin-right: 20px; /* Add margin between links */
}

nav ul li a {
    text-decoration: none;
    color: #007bff; /* Adjust link color as needed */
    padding: 5px 10px; /* Add padding for spacing */
}

nav ul li a:hover {
    color: #0056b3; /* Adjust link hover color as needed */
}


